<h1><%= t "order.edit" %></h1>

<%= form_for [:admin, @order] do |f| %>
  <%= render "shared/error_messages", object: @order %>
  <%= f.label :status, t("mailer.status") %>
  <%= f.select(:status, load_order_status, {include_blank: true}, class: "form-control") %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
