<div id="header">
  <div class="header-top">
    <div class="container">
      <div class="pull-left auto-width-left">
        <ul class="top-menu menu-beta l-inline">
          <li><a href=""><i class="fa fa-home"></i> 640 Trung Nu Vuong, Da Nang City</a></li>
          <li><a href=""><i class="fa fa-phone"></i> 0961 141 478</a></li>
        </ul>
      </div>
      <div class="pull-right auto-width-right">
        <ul class="top-details menu-beta l-inline">
          <% if logged_in? %>
            <li> <%= link_to edit_user_path(current_user) do  %>
              <i class="fa fa-user"></i> <%= t ".account" %>
            </li>
            <% end %>
            <li> <%= link_to orders_path do  %>
              <i class="fa fa-user"></i><%= t ".history" %>
            </li>
            <% end %>
            <% if current_user.admin? %>
              <li> <%= link_to admin_users_path do  %>
                <i class="fa fa-user"></i><%= t ".admin_page" %>
              </li>
            <% end %>
            <% end %>
            <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
          <% else %>
            <li><%= link_to t(".register"), signup_path %></a></li>
            <li><%= link_to t(".login"), login_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div> <!-- .container -->
  </div> <!-- .header-top -->
  <div class="header-body">
      <div class="container beta-relative">
        <div class="pull-left">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", size: "200x100" %>
          <% end %>
        </div>
        <div class="pull-right beta-components space-left ov">
          <div class="space10">&nbsp;</div>
          <%= form_tag search_path, method: :GET do %>
            <div class="beta-comp">
                <div style="display: block;">
                  <%= text_field_tag :p %>
                </div>
            </div>
            <div class="beta-comp">
              <div>
                <%= button_tag :submit, class: "btn btn-secondary btn-number" do %>
                      <i class="fa fa-search"></i>
                    <% end %>
              </div> <!-- .cart -->
            </div>
          <% end %>
          <div class="beta-comp">
            <div class="cart">
              <%= link_to cart_path do %>
                <i class="fa fa-shopping-cart"></i> Cart (<%= load_size_cart %>) <i class="fa fa-chevron-down"></i>
              <% end %>
            </div> <!-- .cart -->
          </div>
        </div>
        <div class="clearfix"></div>
      </div> <!-- .container -->
  </div> <!-- .header-body -->
  <div class="header-bottom" style="background-color: #0277b8;">
      <div class="container">
        <a class="visible-xs beta-menu-toggle pull-right" href="#"><span class='beta-menu-toggle-text'>Menu</span> <i class="fa fa-bars"></i></a>
        <div class="visible-xs clearfix"></div>
        <nav class="main-menu">
          <ul class="l-inline ov">
            <li><%= link_to t(".home"), home_path %></li>
            <li><%= link_to t(".category"), categories_path %></li>
            <li><%= link_to t(".help"), help_path %></li>
            <li><%= link_to t(".contact"), contact_path %></li>
          </ul>
          <div class="clearfix"></div>
        </nav>
      </div> <!-- .container -->
  </div> <!-- .header-bottom -->
</div> <!-- #header -->
