<div class="col-sm-4">
  <div class="single-item">
    <div class="single-item-header">
      <%= link_to  product do %>
        <%= image_tag (get_image product), size: Settings.size_image %>
      <% end %>
    </div>
    <div class="single-item-body">
      <p class="single-item-title"><%= product.name %></p>
      <p class="single-item-price">
        <span><%= t("product_price", price:product.price) %></span>
      </p>
    </div>
    <div class="single-item-caption">
      <%= form_for :carts, url: add_cart_path, method: :POST do |f| %>
        <div><%= f.hidden_field :product_id, value: product.id %></div>

        <%= f.button :submit do %>
         <span class="add-to-cart pull-left" >
          <i class="fa fa-shopping-cart"></i>
          </span>
          <span class="beta-btn primary"> Add to cart <i class="fa fa-chevron-right"></i> </span>
        <% end %>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
