<tr>
  <td><%= order.name_order %></td>
  <td><%= order.address_order %></td>
  <td><%= order.phone_order %></td>
  <td><%= t("product_price", price: order.total_amount) %></td>
  <td><%= order.status %></td>
</tr>
