<h1 style="text-align: center;"> <%= t "admin.list_user" %> </h1>
<%= search_form_for [:admin, @search], class: "form" do |f| %>
  <div class="field">
    <%= f.label :name_cont,t("ransack.search_name") %>
    <%= f.text_field :name_cont, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email_cont, t("ransack.search_email") %>
    <%= f.email_field :email_cont, class: "form-control", min: Settings.one %>
  </div>
  <div class="actions">
    <%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t "users.id" %></th>
      <th><%= sort_link @search, :name, t("users.name") %></th>
      <th><%= sort_link @search, :email, t("users.email") %></th>
      <th><%= t "users.role" %></th>
    </tr>
  </thead>
  <tbody>
    <%= will_paginate %>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= t("admin.role_user", role: user.role) %></td>
      <td><%= link_to t("admin.edit"), edit_admin_user_path(user.id), class: "btn btn-success" %></td>
      <td><%= link_to t("admin.destroy"), admin_user_path(user.id), method: :DELETE, data: {confirm: t("admin.confirm_delete")}, class: "btn btn-danger" %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
