<h1 style="text-align: center;"> <%= t "admin.list_user" %> </h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t "users.id" %></th>
      <th><%= t "users.name" %></th>
      <th><%= t "users.email" %></th>
      <th><%= t "users.role" %></th>
    </tr>
  </thead>
  <tbody>
    <%= will_paginate %>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= link_to t("admin.edit"), edit_admin_user_path(user.id), class: "btn btn-success" %></td>
      <td><%= link_to t("admin.destroy"), admin_user_path(user.id), method: :DELETE, data: {confirm: t("admin.confirm_delete")}, class: "btn btn-danger" %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
